<div class="genres-head">
    <h2>The genres you will find in our library</h2>
</div>

<div class="container">
    <table class="table table-hover">
    <thead>
        <tr>
            <th>Genres</th>
            <th>Books</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let genre of genres">
              <td *ngIf="this.genre.bookCount > 0">{{genre.name}}</td>
              <td *ngIf="this.genre.bookCount > 0">{{genre.bookCount}}</td>
        </tr>
    </tbody>
    </table>
</div>