.genres-head{
  text-align: center;
  margin-bottom: 4%;
  margin-top: 4%;
}

.container{
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 5%;
    padding: 3%;
    width: 25%;

  .table{
    margin: 0 auto;
    padding: .5rem;
  }
}