.header-container {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  padding: 0.5rem 2rem;
  height: 100%;
  position: relative;

  .logout-button {
    width: 8rem;
    border: 2px solid whitesmoke;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    background-color: whitesmoke;
    color: cadetblue;
    font-size: 1.1rem;
    padding: 4px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    float: right;
    height: 100%;

    &:hover {
      border: 2px solid whitesmoke;
      background-color: cadetblue;
      color: whitesmoke;
      cursor: pointer;
    }
  }

  .newbooks-text {
    background-color: red;
  }

  .admin-button {
    height: 100%;
    width: 10rem;
    border: 2px solid whitesmoke;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    background-color: whitesmoke;
    color: cadetblue;
    font-size: 1.1rem;
    padding: 4px;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    float: left;

    &:hover {
      border: 2px solid whitesmoke;
      background-color: cadetblue;
      color: whitesmoke;
      cursor: pointer;
    }
  }

  .search {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0;
    align-items: center;

    .multiselect {
      width: 10rem;
      background-color: white;
      border: 0px solid white;
    }

    input {
      margin: 0 0.25rem;
      padding: 0.5rem 1rem;
      border: 1px solid cadetblue;
      border-radius: 10px;
      overflow: hidden;
      color: cadetblue;
    }

    label {
      margin: 0 0.25rem;
      color: whitesmoke;
      background-color: transparent;
      transition: all 0.2s ease-in-out;
      pointer-events: none;
    }

    .search-dropdown {
      height: 100%;
      margin: 0 0.25rem;
      display: inline-block;
      padding: 0.5rem 1rem;
      border: 1px solid cadetblue;
      border-radius: 10px;
      overflow: hidden;
      color: cadetblue;
      min-width: 250px !important;
      max-width: 250px !important;
      outline: none;
      vertical-align: middle;

      option {
        border-radius: 10px;
      }
    }

    .search-button {
      margin: 0 1rem;
      display: inline-block;
      width: 8rem;
      border: 2px solid whitesmoke;
      outline: none;
      border-radius: 10px;
      overflow: hidden;
      font-family: "Montserrat", sans-serif;
      background-color: whitesmoke;
      color: cadetblue;
      font-size: 1.1rem;
      padding: 4px;
      margin-right: 20px;

      &:hover {
        border: 2px solid whitesmoke;
        background-color: cadetblue;
        color: whitesmoke;
        cursor: pointer;
      }
    }
  }
}

.search-results {
  border: 2px solid cadetblue;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  margin: 0.5rem;
  padding: 1rem;

  :link {
    color: cadetblue;
  }

  :visited {
    color: cadetblue;
  }
}

.search-results-div {
  width: 50%;
  padding: 1rem;
  font-size: 30px;
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid cadetblue;
  border-radius: 10px;

  .pagi {
    background-color: burlywood;
  }
}
