

@import "~src/variables.scss";

html {
  height: 100%;
}

html, body{
  min-height: 100%;
}

body {
  display:flex; 
  flex-direction:column; 
}

.delete-button{
  background-color: #d37268;
  color: white;
  border-radius: 10px;
  &.active {
    background-color: #3e8e41;
  }
}

.headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.book-comment {
  display: flex;
  flex-direction: row;
  width: 70%; 
  height: 100%;
  min-height: 830px;
  margin: 5rem auto 5rem auto;

  border-radius: 10px;

  .book-details {
    padding: 20px 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    color:rgb(223, 223, 223);
    h1 {
      font-weight: bold;
    }
    width: 50%;
    background-color: cadetblue; 
    
    p {
      margin: 25px 0;
    }
    img {
      display: block;
      width: 70%;
      margin: 0 auto;
    }
    .book-button {
      background-color: #d37268;
      width: 30%;
      padding: 5px 0;
      color: white;
      border-radius: 10px;
      &.active {
        background-color: #3e8e41;
      }
    }

    .book-button:disabled{
      pointer-events: none;
      background-color: grey;
    }
  }
  .comments {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #3c6465;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

  }
  .comments-list {
    background-color:#3c6465;
    overflow: scroll;
    height: 60%;  
    min-height: 60%;
    padding: 20px 20px;
    overflow-x: hidden; 
    border-top-right-radius: 10px;
    .review {
      margin: 50px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #457274;
      color: rgb(223, 223, 223);
      border-radius: 10px;
      padding: 0.5rem;
    } 
  }
  .comment-form {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    color:rgb(223, 223, 223);
    background-color: #335657;
    padding: 10px 10px;
    border-bottom-right-radius: 10px;
    h3 {
      font-weight: bold;
    }

    #comment-button {
      float: right;
      margin-top: 10px;
      background-color: #d37268;
      font-weight: bold;
      font-size: 20px;
      color: white;
      border-radius: 10px;
    }
    textarea{
      border: 2px solid cadetblue;
      border-radius: 10px;
      background-color: whitesmoke;
    }
  }

  .dropbtn {
    background-color: #d37268;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
  }
  
  .search-dropdown {
    position: relative;
    display: inline-block;
    margin: 15px 0;
    width: 200px;
    height: 30px;
    border: 2px solid cadetblue;
    border-radius: 10px;
    background-color: whitesmoke;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {
    background-color: #e6897f;

  }
}

.subscribe-not-authenticated, .comment-not-authenticated{
  text-decoration: none;
}

.form-group {
  input {
    background: transparent;
    border: none;
    color: white;
    outline: none;
    width: 100%;

    &:active,
    &:hover, 
    &:focus,
    &:target {
      background: transparent;
      border: none;
      outline: none;

    }
  }
}

.save-button{
  background-color: blue;
  border-radius: 2px;
}

.approve-button {
  background-color: #057714;
  color: white;
  border-radius: 10px;
  &.active {
    background-color: #000000;
  }
}

.approve-button:disabled {
  background-color: darkgrey;
}
